%li
  %p
    = comment.body
    %br
    - if comment.user_id.present?
      %small= "- Submitted by #{comment.user.username} #{time_ago_in_words(comment.created_at)} ago"
    -elsif comment.commenter
      %small= "- Submitted by #{comment.commenter} #{time_ago_in_words(comment.created_at)} ago"
    -else
      %small= "- Submitted #{time_ago_in_words(comment.created_at)} ago"

    - if current_user && current_user.admin?
      %p 
        = link_to 'Delete Comment', comment_path(comment), class: "delete-link", remote: true, method: :delete, data: { target: "delete.comment", action: "ajax:beforeSend->delete#click" }

    %hr

