%html
  %head
    %meta{name:'viewport', content:'width=device-width, initial-scale=1'}
    %title 18Den Blog
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{rel:"icon", type:"image/png", href:"train_ico.png"}
  %body
  .app-wrapper
    .header
      .header-wrapper
        = render '/shared/header'

    .main-container
      .main-content
        = yield

    .footer
      = render '/shared/footer'
