= form_for @session_report do |f|
  - if @session_report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@session_report.errors.count, "error")} prohibited this session_report from being saved:"
      %ul
        - @session_report.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .field.form-group
    = f.label :game, "What's the Game?"
    = f.select("game_id", Game.all.collect {|g| [ g.title, g.id ] }, { include_blank: true })
  .field.form-group
    = f.label :game_date
    = f.text_field :game_date, class: "form-control", id: "calendarField", data:{ provide:'datepicker' }, autocomplete: "off"
  //.field.form-group
  //  = f.label :session_date
  //  = f.text_field :session_date, class: "form-control", id: "calendarField", data:{ provide:'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-autoclose' => 'true' }, autocomplete: "off", value: @session_report.session_date
  .field.form-group
    = f.label :player_manifest
    = f.text_area :player_manifest, class: "form-control", rows: 5
    %br
    %small format: Bigwig|Grand Trunk (Par Price)|Steamboat, Mail Contract

  .field.form-group
    = f.label :content
    = f.rich_text_area :content, options: {rows: 10}
  .field.form-group
    = f.label :final_stat, "Final Statistics"
    = f.text_area :final_stat, class: "form-control", rows: 8
    %br
    %small format: RailroadA|President|Trains|revenue|share price
    %br
    %small eg: NYC|Seamus|7/8, Diesel|55|212

  .field.form-group
    = f.label :final_standing, "Final Standings"
    = f.text_area :final_standing, class: "form-control", rows: 6
    %br
    %small format: Player|Final Cash|Final Revenue|Final Portfolio Value|Final Score
    %br
    %small eg: Bigwig|15|1000|9000|10,015

  = f.hidden_field :creator_id, value: "#{current_user.try(:id)}"
  = f.hidden_field :published, value: true

  .actions
    = f.submit 'Save'
