.main-wrapper
  %p#notice= notice

  %h2= @session_report.title


  %p
    %b Game:
    = @session_report.game

  %p
    %b Game Date:
    = nice_date_form @session_report.game_date

  %p 
    = render 'player_manifest'


  %p
    = @session_report.content

  %p 
    = render 'final_stat'

  = link_to 'Edit', edit_session_report_path(@session_report) if user_signed_in?

  .posted_by

    %p.avatar
      %span
        - if @session_report.creator.player_profile.avatar.attached?
          = image_tag @session_report.creator.player_profile.avatar
      %span
        = "posted by #{@session_report.creator.try(:username)}" 

  %br
  
  = render 'comments/add_comment'
  
  #comments.comments
    %h3 Comments

    %ul
      = render(partial: 'comments/comment', collection: @session_report.comments)
  

