.main-wrapper
  %p#notice= notice

  %h2= @session_report.title


  %p= "Session Report posted by #{@session_report.creator.try(:username)}" 

  %p.avatar
    - if @session_report.creator.player_profile.avatar.attached?
      = image_tag @session_report.creator.player_profile.avatar

  %p
    %b Game:
    = @session_report.game

  %p
    %b Game Date:
    = nice_date_form @session_report.game_date

  %p 
    = render 'player_manifest'


  %p
    = @session_report.content

  %p 
    = render 'final_stat'

  %br
  = form_for [@session_report, Comment.new] do |f|
    = f.text_area :body, placeholder: "Add a comment"
    = f.hidden_field :user_id, value: current_user.try(:id)
    %br
    = f.submit "Add Comment"
    
  .comments
    %h3 Comments

    %ul
      = render(partial: 'comments/comment', collection: @session_report.comments)
  
  %p
    = link_to 'Edit', edit_session_report_path(@session_report)
    \|
    = link_to 'Back', session_reports_path

